.home-style {
    background-image: url(../../images/header.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
}
.home-text-style {
    padding-top: 145px;
}
 .button-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.button-style {
    font-size: 20px;
    color: white;
    background-color: black; 
    margin-left: 35px;
} 
.button-style a {
    background-color: black; 
}